<AuToolbar @size="small" class="au-u-flex--no-wrap" as |Group|>
  <Group>
    <AuHeading @skin="2" class="au-u-margin-left-small">
      {{! template-lint-disable no-triple-curlies}}
      {{{@publicService.nameNl}}}
    </AuHeading>
  </Group>
  <Group>
    <AuButtonGroup class="au-u-flex--no-wrap">
      {{#if @readOnly}}
        <AuButton {{on "click" this.requestReopeningConfirmation}}>
          Product opnieuw bewerken
        </AuButton>
      {{else}}
        <AuButton
          @disabled={{not this.canSubmit}}
          {{on "click" (perform this.requestSubmitConfirmation)}}
        >
          Verzend naar Vlaamse overheid
        </AuButton>

        <AuButton
          @skin="secondary"
          @disabled={{not this.canSave}}
          @loading={{this.handleFormSubmit.isRunning}}
          form={{this.id}}
          type="submit"
        >
          Wijzigingen bewaren
        </AuButton>
      {{/if}}
    </AuButtonGroup>

    <AuDropdown
      @title="Acties"
      @skin="naked"
      @alignment="right"
      @icon="chevron-down"
      @iconAlignment="right"
      role="menu"
    >
      {{#if this.shouldDisplayEnLinkToIpdc }}
        <AuLinkExternal
          href={{this.ipdcEnLink}}
          @skin="link"
          @icon="eye"
          role="menuitem"
          target="blank"
        >
          Bekijk Engelse vertaling
        </AuLinkExternal>
      {{/if}}
      {{#if this.shouldDisplayReadonlyEnLinkToIpdc }}
        <AuButton
          @icon="not-visible"
          @skin="link"
          role="menuitem"
          @disabled ={{true}}
          target="blank"
        >
          Engelse vertaling na publicatie
        </AuButton>
      {{/if}}
      <AuButton
        @skin="link"
        @icon="copy"
        role="menuitem"
        @disabled={{false}}
        {{on "click" this.copyPublicService}}
      >
        Product kopiëren
      </AuButton>
      <AuButton
        @skin="link"
        @icon="bin"
        role="menuitem"
        @alert={{true}}
        @disabled={{this.shouldDisplayProductVerwijderenButton}}
        {{on "click" this.removePublicService}}
      >
        Product verwijderen
      </AuButton>
    </AuDropdown>
  </Group>
</AuToolbar>
<AuToolbar @size="small" class="au-u-flex au-u-flex--vertical-start au-u-padding-bottom-none au-u-padding-top-none" as |Group|>
  <Group class="w-100">
  {{#if @publicService.reviewStatus}}
      <AuAlert
        @skin={{if this.isConceptUpdatedStatus "warning" "error"}}
        @icon="alert-triangle"
        @size="small"
        class="au-u-margin-bottom-none au-u-1-2"
      >
        {{#if this.isConceptUpdatedStatus}}
          <p>
            In het concept waarop dit product is gebaseerd, zijn de volgende velden
            aangepast: <strong>{{this.functionallyChangedFields}}</strong>.
          </p>
          <p>
            Je kan ervoor kiezen om elk veld afzonderlijk over te nemen of het concept als geheel.
          </p>
        {{else}}
          <p>
            Het concept waarop dit product is gebaseerd, werd gearchiveerd.
            Gelieve na te kijken of je deze versie wil behouden, aanpassen of
            verwijderen.
          </p>
        {{/if}}
        <div class="au-u-margin-top-small">
          <AuButtonGroup>
            {{#if @publicService.concept}}
              <AuLinkExternal
                href={{this.ipdcConceptCompareLink}}
                @skin="button"
                @icon="eye"
                target="blank"
              >
                Concept bekijken
              </AuLinkExternal>

            {{#if this.isConceptUpdatedStatus}}
              <AuButton
                @skin="primary"
                @icon="copy"
                {{on "click" this.fullyTakeConceptSnapshotOver}}
              >
                Wijzigingen overnemen
              </AuButton>
            {{/if}}

            {{/if}}
            <AuButton
              @skin="secondary"
              @icon="check"
              @disabled={{(or this.markAsReviewed.isRunning this.hasUnsavedChanges)}}
              @loading={{this.markAsReviewed.isRunning}}
              @loadingMessage="Aan het verwerken"
              {{on "click" (perform this.markAsReviewed)}}
            >
              Geen aanpassingen nodig
            </AuButton>
          </AuButtonGroup>
        </div>
      </AuAlert>
  {{/if}}
  {{#if this.shouldShowConversionAlertPublishedInstance }}
      <AuAlert
        @title="Omzetting naar de je-vorm"
        @skin="info"
        @icon="message"
        @size="small"
        class="au-u-margin-bottom-none au-u-1-2"
      >
        <p>
          Indien gewenst kan de inhoud van deze instantie automatisch worden omgezet naar de je-vorm.
        </p>
        <div class="au-u-margin-top-small">
          <AuButtonGroup>
            <AuLinkExternal
              href={{this.ipdcInformalLink}}
              @skin="button"
              @icon="eye"
              target="blank"
            >
              Instantie in je-vorm bekijken
            </AuLinkExternal>
            <AuButton
              @skin="primary"
              @icon="pencil"
              {{on "click" this.convertToInformal}}
            >
              Omzetten naar de je-vorm
            </AuButton>
            <AuButton
              @skin="secondary"
              @icon="check"
              {{on "click" (perform this.confirmInstanceAlreadyInformal)}}
            >
              Inhoud is al in de je-vorm
            </AuButton>
          </AuButtonGroup>
        </div>
      </AuAlert>
  {{/if}}
  {{#if this.shouldShowConversionAlertDraftInstance }}
      <AuAlert
        @skin="info"
        @size="small"
        @icon="message"
        class="au-u-margin-bottom-none au-u-1-2"
      >
        <p>
          Deze instantie kan na verzending naar de Vlaamse overheid automatisch worden omgezet naar de je-vorm
          (de
          publicatie duurt enkele minuten).
        </p>
      </AuAlert>
  {{/if}}
  </Group>
</AuToolbar>
<AuTabs as |Tab|>
  <Tab>
    <AuLink @route="public-services.details.content">Inhoud</AuLink>
  </Tab>
  <Tab>
    <AuLink @route="public-services.details.properties">Eigenschappen</AuLink>
  </Tab>
</AuTabs>

<AuBodyContainer @scroll={{true}}>
  {{#if this.loadForm.isRunning}}
    <div class="au-o-box">
      <p class="au-u-h4 au-u-medium" aria-hidden="true">
        Formulier aan het laden
      </p>
      <AuLoader @padding="small" />
    </div>
  {{else if this.loadForm.last.isError}}
    <div class="au-o-box">
      <AuAlert
        @title="Onverwachte fout"
        @skin="error"
        @icon="circle-x"
        @size="small"
        class="au-u-max-width-small"
      >
        <p>
          Er ging iets fout bij het laden van het formulier, gelieve de helpdesk
          te contacteren.
        </p>
      </AuAlert>
    </div>
  {{else}}
    <form
      id={{this.id}}
      {{on "submit" (perform this.handleFormSubmit)}}
      class="au-c-rdf-form {{@tabName}}"
    >
      <RdfForm
        @groupClass="au-o-grid__item"
        @form={{this.form}}
        @graphs={{this.graphs}}
        @sourceNode={{this.sourceNode}}
        @formStore={{this.formStore}}
        @forceShowErrors={{this.forceShowErrors}}
        @show={{@readOnly}}
      />
    </form>
  {{/if}}
</AuBodyContainer>