<AuToolbar @size="small" class="au-u-flex--no-wrap" as |Group|>
  <Group>
    <AuHeading @skin="2" class="au-u-margin-left-small">
      {{! template-lint-disable no-triple-curlies}}
      {{{@publicService.nameNl}}}
    </AuHeading>
  </Group>
  <Group>
    <AuButtonGroup class="au-u-flex--no-wrap">
      {{#if @readOnly}}
        <AuButton {{on "click" this.requestReopeningConfirmation}}>
          Product opnieuw bewerken
        </AuButton>
      {{else}}
        <AuButton
          @disabled={{not this.canSubmit}}
          {{on "click" (perform this.requestSubmitConfirmation)}}
        >
          Verzend naar Vlaamse overheid
        </AuButton>

        <AuButton
          @skin="secondary"
          @disabled={{not this.canSave}}
          @loading={{this.handleFormSubmit.isRunning}}
          form={{this.id}}
          type="submit"
        >
          Wijzigingen bewaren
        </AuButton>
      {{/if}}
    </AuButtonGroup>

    <AuDropdown
      @title="Acties"
      @skin="naked"
      @alignment="right"
      @icon="chevron-down"
      @iconAlignment="right"
      role="menu"
    >
      {{#if this.shouldDisplayEnLinkToIpdc }}
        <AuLinkExternal
          href={{this.ipdcEnLink}}
          @skin="button"
          @icon="eye"
          target="blank"
        >
          Bekijk Engelse vertaling
        </AuLinkExternal>
      {{/if}}
      {{#if this.shouldDisplayReadonlyEnLinkToIpdc }}
        <AuButton
          @icon="eye"
          @disabled ={{true}}
          target="blank"
        >
          Engelse vertaling na publicatie
        </AuButton>
      {{/if}}
      {{#unless @readOnly}}
        <AuButton
          @skin="link"
          @icon="bin"
          role="menuitem"
          @alert={{true}}
          @disabled={{this.publicServiceAction.isRunning}}
          {{on "click" this.removePublicService}}
        >
          Product verwijderen
        </AuButton>
      {{/unless}}
    </AuDropdown>
  </Group>
</AuToolbar>

<AuTabs as |Tab|>
  <Tab>
    <AuLink @route="public-services.details.content">Inhoud</AuLink>
  </Tab>
  <Tab>
    <AuLink @route="public-services.details.properties">Eigenschappen</AuLink>
  </Tab>
</AuTabs>

<AuBodyContainer @scroll={{true}}>
  {{#if this.loadForm.isRunning}}
    <div class="au-o-box">
      <p class="au-u-h4 au-u-medium" aria-hidden="true">
        Formulier aan het laden
      </p>
      <AuLoader @padding="small" />
    </div>
  {{else if this.loadForm.last.isError}}
    <div class="au-o-box">
      <AuAlert
        @title="Onverwachte fout"
        @skin="error"
        @icon="circle-x"
        @size="small"
        class="au-u-max-width-small"
      >
        <p>
          Er ging iets fout bij het laden van het formulier, gelieve de helpdesk
          te contacteren.
        </p>
      </AuAlert>
    </div>
  {{else}}
    <form
      id={{this.id}}
      {{on "submit" (perform this.handleFormSubmit)}}
      class="au-c-rdf-form {{@tabName}}"
    >
      <RdfForm
        @groupClass="au-o-grid__item"
        @form={{this.form}}
        @graphs={{this.graphs}}
        @sourceNode={{this.sourceNode}}
        @formStore={{this.formStore}}
        @forceShowErrors={{this.forceShowErrors}}
        @show={{@readOnly}}
      />
    </form>
  {{/if}}
</AuBodyContainer>
