<AuModal
  @modalOpen={{true}}
  @closeModal={{this.close}}
  data-test-confirm-up-to-date-till-modal="modal"
>
  <:title>Concept overnemen</:title>
  <:body>

    <h4 class="au-u-h4 au-u-bold au-u-font">{{@data.fieldName}}</h4>

    <form class="au-c-rdf-form" aria-label="Concept meest recente revisie">
      <RdfForm
        @groupClass="au-o-grid__item"
        @form={{@data.conceptSnapshotLatestForm.form}}
        @graphs={{@data.conceptSnapshotLatestForm.graphs}}
        @sourceNode={{@data.conceptSnapshotLatestForm.sourceNode}}
        @formStore={{@data.conceptSnapshotLatestForm.formStore}}
        @show={{true}}
      />
    </form>

    <AuLink
      {{on "click" this.takeOver}}>
      Overnemen
    </AuLink>

    <form class="au-c-rdf-form" aria-label="Concept waarop instantie gebaseerd is">
      <RdfForm
        @groupClass="au-o-grid__item"
        @form={{@data.conceptSnapshotCurrentForm.form}}
        @graphs={{@data.conceptSnapshotCurrentForm.graphs}}
        @sourceNode={{@data.conceptSnapshotCurrentForm.sourceNode}}
        @formStore={{@data.conceptSnapshotCurrentForm.formStore}}
        @show={{true}}
      />
    </form>

    <span class="instantie-form">
      <form class="au-c-rdf-form" aria-label="Instantie">
        <RdfForm
          @groupClass="au-o-grid__item"
          @form={{@data.instanceForm.form}}
          @graphs={{@data.instanceForm.graphs}}
          @sourceNode={{@data.instanceForm.sourceNode}}
          @formStore={{@data.instanceForm.formStore}}
          @show={{false}}
        />
      </form>
    </span>
  </:body>
  <:footer>
    <AuButtonGroup>
      <AuButton
        {{on "click" this.save}}
      >
        Bewaar
      </AuButton>
      <AuButton
        @skin="secondary"
        {{on "click" this.close}}
      >
        Annuleer
      </AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>