<AuModal
  class="modal-height-fit-content"
  @modalOpen={{true}}
  @closeModal={{this.close}}
  @size="large"
>
  <:title>{{@data.fieldName}}</:title>
  <:body>

    <div class="au-o-grid">
      <div class="au-o-grid__item au-u-1-2 au-u-padding-right-tiny">
        <form class="au-c-rdf-form three-way-compare-form" aria-label="Concept meest recente revisie">
          <RdfForm
            @groupClass="au-o-grid__item"
            @form={{@data.conceptSnapshotLatestForm.form}}
            @graphs={{@data.conceptSnapshotLatestForm.graphs}}
            @sourceNode={{@data.conceptSnapshotLatestForm.sourceNode}}
            @formStore={{@data.conceptSnapshotLatestForm.formStore}}
            @show={{true}}
          />
        </form>

        <AuLink
          {{on "click" this.takeOver}}>
          Overnemen
        </AuLink>
      </div>
      <div class="au-o-grid__item au-u-1-2 au-u-padding-left-tiny">
        <form class="au-c-rdf-form three-way-compare-form"
              aria-label="Concept waarop instantie gebaseerd is">
          <RdfForm
            @groupClass="au-o-grid__item"
            @form={{@data.conceptSnapshotCurrentForm.form}}
            @graphs={{@data.conceptSnapshotCurrentForm.graphs}}
            @sourceNode={{@data.conceptSnapshotCurrentForm.sourceNode}}
            @formStore={{@data.conceptSnapshotCurrentForm.formStore}}
            @show={{true}}
          />
        </form>
      </div>

      <div class="au-o-grid__item au-u-padding-top-none">
        <form class="au-c-rdf-form three-way-compare-form" aria-label="Instantie">
          <RdfForm
            @groupClass="au-o-grid__item"
            @form={{@data.instanceForm.form}}
            @graphs={{@data.instanceForm.graphs}}
            @sourceNode={{@data.instanceForm.sourceNode}}
            @formStore={{@data.instanceForm.formStore}}
            @show={{false}}
          />
        </form>
      </div>
    </div>

  </:body>
  <:footer>
    <AuButtonGroup>
      <AuButton
        {{on "click" this.save}}
      >
        Bewaar
      </AuButton>
      <AuButton
        @skin="secondary"
        {{on "click" this.close}}
      >
        Annuleer
      </AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>