<AuModal
  @modalOpen={{true}}
  @closeModal={{this.close}}
  data-test-confirm-up-to-date-till-modal="modal"
>
  <:title>Concept overnemen</:title>
  <:body>
    <form class="au-c-rdf-form">
      <RdfForm
        @groupClass="au-o-grid__item"
        @form={{@data.form}}
        @graphs={{@data.graphs}}
        @sourceNode={{@data.sourceCurrent}}
        @formStore={{@data.formStore}}
        @show={{true}}
      />
    </form>

    <form class="au-c-rdf-form">
      <RdfForm
        @groupClass="au-o-grid__item"
        @form={{@data.form}}
        @graphs={{@data.graphs}}
        @sourceNode={{@data.sourceLatest}}
        @formStore={{@data.formStore}}
        @show={{true}}
      />
    </form>


    <form class="au-c-rdf-form">
      <RdfForm
        @groupClass="au-o-grid__item"
        @form={{@data.form}}
        @graphs={{@data.graphs}}
        @sourceNode={{@data.sourceNode}}
        @formStore={{@data.formStore}}
        @show={{false}}
      />
    </form>
  </:body>
  <:footer>
    <AuButtonGroup>
      <AuButton
        {{on "click" this.save}}
      >
        bewaar
      </AuButton>
      <AuButton
        @skin="secondary"
        {{on "click" this.close}}
      >
        Annuleer
      </AuButton>
    </AuButtonGroup>
  </:footer>
</AuModal>