<div class="au-o-grid au-o-grid--tiny address-form">
  <div class="au-o-grid__item">
    <AuLabel for="municipality">Gemeente</AuLabel>
    <PowerSelect
      @noMatchesMessage="Geen resultaten"
      @options={{this.municipalities}}
      @selected={{this.municipality}}
      @onChange={{this.updateMunicipality}}
      @searchEnabled={{true}}
      @allowClear={{true}}
      @disabled={{false}}
      @triggerId="municipality"
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>

  <div class="au-o-grid__item">
    <AuLabel for="street">Straat</AuLabel>
    <PowerSelect
      @noMatchesMessage="Geen resultaten"
      @options={{this.streets}}
      @selected={{this.street}}
      @onChange={{this.updateStreet}}
      @searchEnabled={{true}}
      @allowClear={{true}}
      @disabled={{false}}
      @triggerId="street"
      as |option|
    >
      {{option}}
    </PowerSelect>
  </div>

  <div class="au-o-grid__item au-u-1-2">
    <AuLabel for="houseNumber">Huisnummer</AuLabel>
    <AuInput id='houseNumber' @disabled={{false}} @value={{this.houseNumber}} {{on "blur" this.updateHouseNumber}}/>
  </div>

  <div class="au-o-grid__item au-u-1-2">
    <AuLabel for="busNumber">Bus</AuLabel>
    <AuInput id='busNumber' @disabled={{false}} @value={{this.busNumber}} {{on "blur" this.updateBusNumber}}/>
  </div>
</div>