<div class="au-o-grid au-o-grid--tiny address-form">
  <div class="au-o-grid__item">
    <AuLabel for="municipality">Gemeente</AuLabel>
    <PowerSelect
      @noMatchesMessage="Geen resultaten"
      @selected={{this.municipality}}
      @onChange={{this.updateMunicipality}}
      @searchEnabled={{true}}
      @search={{perform this.searchMunicipalities}}
      @allowClear={{true}}
      @disabled={{false}}
      @triggerId="municipality"
      as |municipality|
    >
      {{municipality}}
    </PowerSelect>
  </div>

  <div class="au-o-grid__item">
    <AuLabel for="street">Straat</AuLabel>
    <PowerSelect
      @noMatchesMessage="Geen resultaten"
      @selected={{this.street}}
      @onChange={{this.updateStreet}}
      @searchEnabled={{true}}
      @search={{perform this.searchStreets}}
      @allowClear={{true}}
      @disabled={{not this.canUpdateStreet}}
      @triggerId="street"
      as |street|
    >
      {{street}}
    </PowerSelect>
  </div>

  <div class="au-o-grid__item au-u-1-2">
    <AuLabel for="houseNumber">Huisnummer</AuLabel>
    <AuInput
      id='houseNumber'
      @value={{this.houseNumber}}
      @disabled={{not this.canUpdateHouseNumber}}
      {{on "blur" (fn this.updateHouseNumber this.houseNumber)}}
    />
  </div>

  <div class="au-o-grid__item au-u-1-2">
    <AuLabel for="busNumber">Bus</AuLabel>
    <AuInput
      id='busNumber'
      @value={{this.busNumber}}
      @disabled={{not this.canUpdateBusNumber}}
      {{on "blur" (fn this.updateBusNumber this.busNumber)}}
    />
  </div>

  <div class="au-o-grid__item">
    {{#if this.validateAddress.isRunning}}
      <LoadingAlert @title="Valideren van adres" @skin="info" />
    {{else if this.validatedAddress}}
      <AuAlert
        @title="Adres gevonden"
        @skin="success"
        @icon="check"
      >
        <p>{{this.validatedAddress}}</p>
      </AuAlert>
    {{else}}
      <AuAlert
        @title="Adres niet gevonden"
        @skin="warning"
        @icon="alert-triangle"
      />
    {{/if}}
  </div>
</div>