{{page-title "AI Search"}}
{{!-- template-lint-disable no-inline-styles --}}
<div class="au-c-main-container__content au-c-main-container__content--scroll">
  <section class="au-o-region-large au-o-layout">
    <AuCard as |c|><c.header>
        <AuHeading>Producten en diensten</AuHeading>
        <p style="font-weight: lighter;">Zoek producten en diensten die door de verschillende overheden binnen Vlaanderen worden aangeboden. Let op: voor lokale producten en diensten is dit overzicht nog volop in opbouw.</p>
      </c.header>
      <c.content style="font-size: small;">
        <div style="display: flex; align-items: center;">
          <AuInput
            id="search-input"
            type="text"
            @width="block"
            style="width: 50%; margin-right: 10px;"
            value={{this.searchTerm}}
            oninput={{this.updateSearchTerm}}
            placeholder="Waar wilt u meer over weten?"
          />
          <AuButton {{on "click" this.performSearch}}>Help me</AuButton>
        </div>
        {{#if this.answer}}
        <AuCard as |c|>
          <c.header>
            <AuHeading @skin="4">
              Antwoord
            </AuHeading>
          </c.header>
          <c.content>
            <AuContent>
              {{this.answer}}
            </AuContent>
          </c.content>
        </AuCard>
        {{/if}}

        {{#if this.links}}
        <AuCard as |c|>
          <c.header>
            <AuHeading @skin="4">
                Hier vonden wij deze informatie
              </AuHeading>
          </c.header>
          <c.content>
            {{#each this.links as |link|}}
            <AuContent>
              <AuLinkExternal
              
              >
                {{link}}
              </AuLinkExternal>
            </AuContent>
            <AuContent>
            
            </AuContent>
            {{/each}}
          </c.content>
        </AuCard>
       {{/if}}
      </c.content>
      <c.footer style="margin-left: auto;">
        
      </c.footer>
    </AuCard>
    
  </section>
</div>


{{outlet}}